body {
    background-color: rgba(23, 101, 198, 0.33);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: "Courier New";
}
input{
    font-family: "Courier New";
    font-weight: bold;
}

.form {
    color: rgba(0, 19, 6, 0.97);
    background-color: rgb(171, 179, 199);
    width: 200px;
    margin: auto;
    border: #170548 3px solid;
    border-radius: 10px;
    font-weight: bold;
}
