h1{
    text-align: center;
}
h2{
    color: #6f0000;
}
body{
    font-family: "Courier New";
    background-color: rgb(171, 179, 199);
}
.tile{
    width: 120px;
    height: 120px;
    background-color: #949ab8;
    padding: 10px;
    float:left;
    margin-left: 10px;
    text-align: center;

}
