h1{
    text-align: center;
}
h2{
    color: #6f0000;
}
body{
    font-family: "Courier New";
    background-color: rgb(171, 179, 199);
}
.info {
    text-align: center;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: black solid 1px;
}
th {
    color: #170548;

}
input{
    font-family: "Courier New";
    font-weight: bold;
}