<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/home.css" th:href="@{/css/home.css}" />
</head>
<body>
<html>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">

    <div style="position: fixed; left: 90%">
        <a href="http://localhost:8080/login?logout">WYLOGUJ</a>
    </div>
    <div style="display: block; padding-top: 15%; padding-left: 15%">
        <div class="tile">
            <img src="images/user.jpg">
            <br>
            <br>
            <a href="all-patients">PACJENCI</a>
        </div>
        <div class="tile">
            <img src="images/add.jpg">
            <br>
            <br>
            <a href="patientForm">NOWY PACJENT</a>
        </div>
        <div class="tile">
            <img src="images/calendar.jpg">
            <br>
            <br>
            <a href="timetable">TERMINARZ</a>
        </div>
        <div class="tile">
            <img src="images/plus.jpg">
            <br>
            <br>
            <a href="createVisit">STWÓRZ WIZYTĘ</a>
        </div>
        <div class="tile">
            <img src="images/history.jpg">
            <br>
            <br>
            <a href="/patientsHistory">HISTORIA</a>
        </div>
        <div class="tile">
            <img src="images/update.jpg">
            <br>
            <br>
            <a href="/updateForm">EDYTUJ DANE</a>
        </div>
    </div>
</div>
<div sec:authorize="isAnonymous()">
    <div style="display: block; padding-top: 15%; padding-left: 40%">
    <div style="width: 120px; height: 120px; background-color: #949ab8; padding: 10px; display: inline-block; position: relative; left: 10px; text-align: center">
        <img src="images/add.jpg">
        <br>
        <br>
        <a href="patientForm">NOWY PACJENT</a>
    </div>
    <div style="width: 120px; height: 120px; background-color: #949ab8; padding: 10px; display: inline-block; position: relative; left: 10px; text-align: center">
        <img src="images/login.jpg">
        <br>
        <br>
        <a href="login">ZALOGUJ SIĘ</a>
    </div>
    </div>

</div>
<div sec:authorize="hasRole('ROLE_USER')">
<div style="position: fixed; left: 90%">
    <a href="http://localhost:8080/login?logout">WYLOGUJ</a>
</div>
<div style="display: block; padding-top: 15%; padding-left: 30%">
    <div class="tile">
        <img src="images/calendar.jpg">
    <br>
    <br>
    <a href="timetable">TERMINARZ</a>
</div>
    <div class="tile">
        <img src="images/plus.jpg">
    <br>
    <br>
    <a href="createVisit">STWÓRZ WIZYTĘ</a>
</div>
    <div class="tile">
        <img src="images/history.jpg">
        <br>
        <br>
        <a href="/patientHistory">MOJA HISTORIA</a>
    </div>
</div>
    <div class="tile">
        <img src="images/update.jpg">
        <br>
        <br>
        <a href="/updateForm">EDYTUJ DANE</a>
    </div>


</div>


</body>
</html>
