<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}" />
</head>
<body>
<h1>WITAJ!</h1>
<div class="form">
<form th:action="@{/login}" method="post">
    <br>
    <div>
        <label> LOGIN:<input type="text" name="username"/>
        </label>
    </div>
    <br>
    <div>
        <label> HASŁO: <input type="password" name="password"/>
        </label>
    </div>
    <br>
    <div>
        <input type="submit" value="ZALOGUJ SIĘ"/>
    </div>
</form>
    <br>
    <a href="patientForm">ZAREJESTRUJ SIĘ</a>
</div>
</body>
</html>