<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
<h1>HISTORIA</h1>
<table>
    <th> <a href="updateForm">EDYTUJ DANE</a></th>
    <th> <a href="all-patients">PACJENCI</a></th>
    <th> <a href="timetable">TERMINARZ</a></th>
    <th><a href="patientHistory">HISTORIA</a></th>
    <th><a href="home">STRONA GŁÓWNA</a></th>
</table>

<span th:object="${patient}">
    <ul>
        <li th:text="'Imię i nazwisko: ' + ${patient.data.name} + ' ' + ${patient.data.surname}"></li>
        <li th:text="'Adres: ' + ${patient.data.street}"></li>
        <li th:text="'Kod pocztowy: ' + ${patient.data.postalCode}"></li>
        <li th:text="'Miasto: ' + ${patient.data.city}"></li>
        <li th:text="'Pesel: ' + ${patient.data.pesel}"></li>
        <li th:text="'Wiek: ' + ${patient.data.age}"></li>
        <li th:text="'Telefon: ' + ${patient.data.phoneNumber}"></li>
        <li th:text="'Email: ' + ${patient.data.email}"></li>
        <li th:text="'Kategoria: ' + ${patient.data.type}"></li>
        <li th:text="'Dyscyplina: ' + ${patient.data.discipline}"></li>
    </ul>

    <br>
    <h2 th:unless="${patient.data.pause} == null" th:text="'PRZERWA DO: ' + ${patient.data.pause}"></h2>
       <ol>
        <span th:each="visit: ${patient.visits}">

            <li th:text="${visit.date} + ' ' + ${visit.time}"></li>
            <a th:href="'visitToDelete?id=' + ${visit.id}">usuń</a>

        </span>
       </ol>
</span>

</body>
</html>
