<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="../static/css/table.css" th:href="@{/css/table.css}" />
    <title>PACJENCI</title>
</head>

<h1>PACIENCI</h1>
<table>
    <th><a href="patientForm">NOWY PACJENT</a></th>
    <th><a href="updateForm">   EDYTUJ DANE</a></th>
    <th><a href="patientHistory">  HISTORIA</a></th>
    <th><a href="timetable">TERMINARZ</a></th>
    <th><a href="home">STRONA GŁÓWNA</a></th>
</table>
<br>
<form action="#" th:action="@{/all-patients}" th:object="${find}" method="post">
    TYP:
    <select name="type">
        <option th:value="''">---</option>
        <option th:each="type : ${T(com.example.crio.model.Type).values()}"
                th:value="${type}" th:text="${type.displayName}">
        </option>
    </select>
    DYSCYPLINA:
    <select name="discipline">
        <option th:value="''">---</option>
        <option th:each="discipline : ${T(com.example.crio.model.Discipline).values()}"
                th:value="${discipline}" th:text="${discipline.displayName}">
        </option>
    </select>
    PRZERWA:
    <select name="pause">
        <option th:value="''">---</option>
        <option th:value="yes">tak</option>
    </select>
    <input type="submit" value="ZNAJDŹ"/>
</form>
<br>

<br>
<table>
    <tr>
        <th>imię</th>
        <th>nazwisko</th>
        <th>pesel</th>
        <th>adres</th>
        <th>kod pocztowy</th>
        <th>miasto</th>
        <th>email</th>
        <th>telefon</th>
        <th>wiek</th>
        <th>kategoria</th>
        <th>dyscyplina</th>
        <th>przerwa</th>

    </tr>
    <tr th:each="patient: ${patients}">
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.pesel}"></td>
        <td th:text="${patient.street}"></td>
        <td th:text="${patient.postalCode}"></td>
        <td th:text="${patient.city}"></td>
        <td th:text="${patient.email}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.type}"></td>
        <td><span th:if="${patient.type} =='SPORT'" th:text="${patient.discipline}"></span></td>
        <td><span th:unless="${patient.pause} == 'null'" th:text="${patient.pause}"></span></td>
    </tr>
</table>
</body>
</html>