<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}" />
</head>
<body>
<h1>HISTORIA</h1>
<div class="form">
    <form action="#" th:action="@{/patientHistory}" th:object="${patient}" method="post">
        <div>
            <label for="pesel">PESEL</label>
            <input type="text" id="pesel" th:field="*{pesel}"/>
            <div style="color: red" th:if="${#fields.hasErrors('pesel')}">
                min. 11 znaków
            </div>
        </div>
        <input type="submit" value="HISTORIA"/>
    </form>
</div>
</body>
</html>
