<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>HARMONOGRAM</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/table.css" th:href="@{/css/table.css}" />
</head>
<h1 style="text-align: center">TERMINARZ</h1>
<br>
<form action="#" th:action="@{/timetable}" th:object="${getDate}" method="post">
    data:
    <input type="date" th:field="*{date}"/>
    <input type="submit" value="WYBIERZ DATĘ"/>
</form>
<br>
<table>
    <th><a href="createVisit">UTWÓRZ WIZYTĘ</a></th>
    <th><a href="all-patients">PACJENCI</a></th>
    <th><a href="home">STRONA GŁÓWNA</a></th>
</table>
<span th:text="${day}"></span>
<div  th:switch="${dayOfWeek}">
    <span th:case="MONDAY" th:text="poniedziałek"></span>
    <span th:case="TUESDAY" th:text="wtorek"></span>
    <span th:case="WEDNESDAY" th:text="środa"></span>
    <span th:case="THURSDAY" th:text="czwartek"></span>
    <span th:case="FRIDAY" th:text="piątek"></span>
    <span th:case="SATURDAY" th:text="sobota"></span>
    <span th:case="SUNDAY" th:text="niedziela"></span>
</div>

<table>
    <tr>
        <th>godzina</th>
        <th>pacjent</th>
        <th>pacjent</th>
        <th>pacjent</th>
        <th>pacjent</th>
        <th>pacjent</th>
        <th>pacjent</th>


    </tr>
    <tr th:each="hour: ${hours}">
        <td th:text="${hour}"></td>

        <span th:each="visit : ${visits}" th:if="${visit.time} == ${hour}">
            <td>
            <span th:text="${visit.name} + ' ' + ${visit.surname}"></span>
            <span th:if="${visit.login} == ${login}">
                <a th:href="'deleteVisit?id=' + ${visit.id}">USUŃ</a>
            </span>
            </td>
        </span>
    </tr>
</table>
</body>
</html>