<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}" />
</head>
<body>
<h1>EDYTUJ DANE</h1>
<div class="form">
<form action="#" th:action="@{/updateForm}" th:object="${patient}" method="post">
    <div>
        <label for="name" >IMIĘ</label>
        <input type="text" id="name" th:field="*{name}"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}">
            min. 3 znaki
        </div>
    </div>
    <div>
        <label for="surname">NAZWISKO</label>
        <input type="text" id="surname" th:field="*{surname}"/>
        <div style="color: red" th:if="${#fields.hasErrors('surname')}">
            min. 3 znaki
        </div>
    </div>
    <div>
        <label for="password" >HASŁO</label>
        <input type="password" id="password" th:field="*{password}"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}">
            min. 3 znaki
        </div>
    </div>
    <div>
        <label for="street">ULICA</label>
        <input type="text" id="street" th:field="*{street}"/>
        <div style="color: red" th:if="${#fields.hasErrors('street')}">
            Pole musi mieć min. 3 znaki
        </div>
    </div>
    <div>
        <label for="postalCode">KOD POCZTOWY</label>
        <input type="text" id="postalCode" th:field="*{postalCode}"/>
        <div style="color: red" th:if="${#fields.hasErrors('postalCode')}">
            min. 6 znaków
        </div>
    </div>
    <div>
        <label for="city">MIASTO</label>
        <input type="text" id="city" th:field="*{city}"/>
        <div style="color: red" th:if="${#fields.hasErrors('city')}">
            min. 3 znaki
        </div>
    </div>
    <div>
        <label for="email">EMAIL</label>
        <input type="email" id="email" th:field="*{email}"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}">
            adres email musi być poprawny
        </div>
    </div>
    <div>
        <label for="phoneNumber">NUMER TELEFONU</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/>
        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}">
            min. 9 znaków
        </div>
    </div>
    <div class="form-group">
        <label for="age">WIEK</label>
        <input type="text" id="age" th:field="*{age}"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}">
            wiek: min. 5 lat
        </div>
    </div>
    TYP:
    <br>
    <select name="type" th:field="*{type}">
        <option th:each="type : ${T(com.example.crio.model.Type).values()}"
                th:value="${type}" th:text="${type.displayName}"></option>
    </select>
    <br>
    DYSCYPLINA:
    <br>
    <select name="discipline" th:field="*{discipline}">
        <option th:each="discipline : ${T(com.example.crio.model.Discipline).values()}"
                th:value="${discipline}" th:text="${discipline.displayName}"></option>
    </select>
    <br>
    <br>
    <input type="submit" value="EDYTUJ"/>
</form>
</div>
</body>
</html>