<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}" />

</head>
<body>
<h1>DODAJ WIZYTĘ</h1>
<div class="form">
<form action="#" th:action="@{/createVisit}" th:object="${newVisit}" method="post">
    <br>
        <div>
        <label for="date">DATA</label>
        <input type="date" id="date" th:field="*{date}"/>
        <div style="color: red" th:if="${#fields.hasErrors('date')}">
            wybierz datę
        </div>
    </div>
    GODZINA:
    <br>
    <select th:field="*{hour}"/>
        <option th:value="'09'">09</option>
        <option th:value="10">10</option>
        <option th:value="11">11</option>
        <option th:value="16">16</option>
        <option th:value="17">17</option>
        <option th:value="18">18</option>
    </select>
    :
    <select th:field="*{minute}"/>
    <option th:value="'00'">00</option>
    <option th:value="'05'">05</option>
    <option th:value="10">10</option>
    <option th:value="15">15</option>
    <option th:value="20">20</option>
    <option th:value="25">25</option>
    <option th:value="30">30</option>
    <option th:value="35">35</option>
    <option th:value="40">40</option>
    <option th:value="45">45</option>
    <option th:value="50">50</option>
    <option th:value="55">55</option>
    </select>
    <br>
    <br>
    <input type="submit" value="ZAPISZ SIĘ"/>
</form>
</div>
</body>
</html>
